<div class="container">
        <div class="row justify-content-md-center">
        
            <div class="col-5 main-container">

            <div class="alert alert-danger" role="alert" ng-if="msgError">{{msgError}}</div>
        
            <form name="loginForm" novalidate ng-submit="login(loginForm.$valid)">
                <div class="form-group">
                    <label for="exampleInputEmail1">Usuário</label>
                    <input type="text" ng-required="true" ng-model="loginForm.user" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite o usuário">
                </div>

                <div class="form-group">
                        <label for="exampleInputEmail1">Senha</label>
                        <input type="password" ng-required="true" ng-model="loginForm.password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite a senha" >
                    </div>


                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
        </div>
        </div>
        </div>