<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8 main-container">
            <h3>Avalie livros</h3>

            <div class="alert alert-danger" role="alert" ng-if="msg">{{msg}}</div>
            <form name="avaliationForm" novalidate ng-submit="salvar(avaliationForm.$valid)">
                <div class="form-group">
                    <label for="livro">Livro</label>
                    <select class="form-control" ng-class="{'is-invalid': (!avaliationForm.livros.$valid && avaliationForm.$submitted)}" id="livro" name="livros" ng-model="avaliation.livro" ng-required="true">
                        <option value="">Selecione um livro</option>
                        <option ng-repeat="livro in livros" ng-value="livro._id">{{livro.name}}</option>
                    </select>
                    <div class="invalid-feedback">Por favor, selecione um livro!</div>
                </div>

                <div class="form-group">
                    <label for="nota">Nota</label>
                    <select class="form-control" ng-class="{'is-invalid': !avaliationForm.nota.$valid && avaliationForm.$submitted}" id="nota" name="nota"  ng-model="avaliation.nota" ng-required="true">
                        <option value="">Selecione uma nota</option>
                        <option ng-repeat="nota in notas" ng-value="nota">{{nota}}</option>
                    </select>
                    <div class="invalid-feedback">Por favor, selecione uma nota!</div>
                </div>

                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select class="form-control" ng-class="{'is-invalid': !avaliationForm.estado.$valid && avaliationForm.$submitted}" id="estado" name="estado"  ng-model="avaliation.estado" ng-required="true">
                        <option value="">Selecione um estado</option>
                        <option ng-repeat="estado in estados" ng-value="estado">{{estado}}</option>
                    </select>
                    <div class="invalid-feedback">Por favor, selecione um estado!</div>
                </div>

                <div class="form-group">
                    <label for="obs">Observações</label>
                    <textarea class="form-control" id="obs" placeholder="Digite uma observação (opcional)" ng-model="avaliation.obs" name="obs" >
                    </textarea>
                </div> 

                <button type="submit" class="btn btn-primary">Salvar</button>

                

            </form>
        </div>
    </div>
</div>
